
<!-- /.row -->
<div class="row"  style="width: 2500px; max-width: none !important;" ng-cotroller="SurveyResultCtrl">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{username}}님의 설문 응답내용(답변수: {{total}}개)
            </div>
            <div type='button' class =" btn btn-default" ng-click="surveyDownByUser()">응답내용다운로드</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>타임스탬프</th>
                                <th ng-repeat = "question in surveytemplate.questions">{{question.no}}.{{replaceDesc(question.desc)}}</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd gradeX" ng-repeat  = "result in surveyresult">
                                <td>{{result.date | date:'MM/dd/yyyy'}}</td>
                                <td ng-repeat = "answer in result.answers">
                                    {{answer.desc}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
  <!--<ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>-->
</nav>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
