<style>
.question1{
	margin-bottom: 30px;
}
.question2{
	margin-bottom: 30px;
}
.question3{
	margin-bottom: 30px;
}
#small{
	font-size: 65%;
}
.question2 .radio .form-control {
	height: 25px;
}
.row{
	background-color: #144169;
}
.footer{
	border-left:0px;
	text-align: -webkit-center;
    font-size: smaller;
}

</style>


<div class="container-fluid" ng-controller="SurveyCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="background-color:white;">
			<h1 class="page-header" style="font-size: 22px; font-weight: 800;line-height:1.3; padding:8px 0px;">[고객님께 보다 나은 금융서비스를 제공해 드리기 위한 {{username}} {{position}}의 설문] </h1>
			<div class="well">
				<h3 style="font-size: 14px; font-weight: initial; line-height:inherit; margin-bottom:30px;">{{introduction}}</h3>
				<div>
					<font color="red">*필수항목</font>
				</div>
				<h4 style="text-align:center;">
					<img ng-src="{{photo}}" alt="..." class="img-rounded" ng-show="isValidImg" style="max-hegiht: 260px; max-width: 200px;">
			</div>
			
<!--설문질문들-->
			<form ng-submit="submitAnswer()">
				<div ng-repeat = "question in surveytemplate.questions">
					
					<div class="question1" ng-if="question.type == 'DESCRIPT'">
						<div ng-if = "question.required==true">
							<p class="text-muted" style="font-size:18px;">{{question.no}}.{{replaceDesc(question.desc)}} <font color="red">*</font></p>
							<input type="text" class="form-control" placeholder=" " ng-model="answerlist[question.no]" id="f_{{question.no}}" g-keypress="keypressHandler($event, {{question.no}})" required>	
						</div>
						<div ng-if = "question.required==false">
							<p class="text-muted" style="font-size:18px;">{{question.no}}.{{replaceDesc(question.desc)}}</p>
							<input type="text" class="form-control" placeholder=" " ng-model="answerlist[question.no]" id="f_{{question.no}}" g-keypress="keypressHandler($event, {{question.no}})">	
				
						</div>
					</div>
					
					<div class = "question2" ng-if = "question.type == 'SELECT'">
						<div ng-if = "question.required==true">
							<p class="text-muted" style="font-size:18px;">{{question.no}}.{{replaceDesc(question.desc)}} <font color="red">*</font></p>
		
						   <div class="radio" ng-repeat="option in question.answer.options">
						   		<label ng-if="option.desc=='기타'">
							    	<span>
							    		<input type="radio" name="{{question.no}}" ng-model="answerlist[question.no]" id="f_{{question.no}}" value="{{option.no}}.{{option.desc}}" required g-keypress="keypressHandler($event, {{question.no}})" ng-change="selectRadio({{question.no}})">
							    	</span>
							    	<span>
							    		기타<input type="text" ng-model="etcvalue[question.no]" ng-show="etclist[question.no]">
							    	</span>
							    	
						  		</label>
						  		<label ng-if="option.desc!='기타'">
						  			<input type="radio" name="{{question.no}}" id="f_{{question.no}}" required ng-model="answerlist[question.no]" value="{{option.no}}.{{option.desc}}" g-keypress="keypressHandler($event, {{question.no}})" ng-change="selectRadio({{question.no}})">
							    		{{option.desc}}
							    	
						  		</label>
							</div>
						</div>
						<div ng-if = "question.required==false">
							<p class="text-muted" style="font-size:18px;">{{question.no}}.{{replaceDesc(question.desc)}}</p>
		
						   <div class="radio" ng-repeat="option in question.answer.options">
						   		<label ng-if="option.desc=='기타'">
							    	<span>
							    		<input type="radio" name="{{question.no}}" id="f_{{question.no}}" ng-model="answerlist[question.no]" value="{{option.no}}.{{option.desc}}" g-keypress="keypressHandler($event, {{question.no}})" ng-change="selectRadio({{question.no}})">
							    	</span>
							    	<span>
							    		기타<input type="text" ng-model="etcvalue[question.no]" ng-show="etclist[question.no]">
							    	</span>
							    	
							    </label>
						  		<label ng-if="option.desc!='기타'">
						  			<input type="radio" name="{{question.no}}" id="f_{{question.no}}" ng-model="answerlist[question.no]" value="{{option.no}}.{{option.desc}}" g-keypress="keypressHandler($event, {{question.no}})" ng-change="selectRadio({{question.no}})">
							    		{{option.desc}}
							    	
						  		</label>
							</div>
							
						</div>
					</div>
				</div>
				
			  <button type="submit" class="btn btn-default"  style="margin:30px 0px;">응답완료</button>
			</form>
	    </div>
	    
	</div>
	<blockquote class="footer">
		  <p>본 설문은 FollowUs를 통해 제공되는 서비스입니다.</p>
	</blockquote>
</div>




