<div class="row" ng-controller="ChartCtrl">
    <div class="col-lg-12">
        <h1 class="page-header">소개를 부탁해</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/9GAirjpte2LeF9" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/eyeofyou/004-53024339" title="004.저축,투자지출,금융시스템" target="_blank">004.저축,투자지출,금융시스템</a> </strong> from <strong><a href="//www.slideshare.net/eyeofyou" target="_blank">Namun Cho</a></strong> </div>

