<div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">설문지 샘플</h3>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    
    <div class="row" ng-controller="SurveyTmpCtrl">
        <div class="col-lg-4 col-sm-12" ng-repeat = "template in surveytemplates">
            <div class="panel panel-green" ng-if = "template.type=='NEW'">
                <div class="panel-heading">
                    {{template.type}}
                </div>
                <div class="panel-body">
                    {{template.desc}}
                </div>
                <div class="panel-footer">
                        <a ng-href="#/dashboard/blank/{{template.type}}">확인하기</a>
                </div>
            </div>
            <div class="panel panel-yellow" ng-if = "template.type=='EXPERT'">
                <div class="panel-heading">
                    {{template.type}}
                </div>
                <div class="panel-body">
                    {{template.desc}}
                </div>
                <div class="panel-footer">
                    <a ng-href="#/dashboard/blank/{{template.type}}">확인하기</a>
                </div>
            </div>
            <div class="panel panel-red" ng-if = "template.type=='MANAGER'">
                <div class="panel-heading">
                    {{template.type}}
                </div>
                <div class="panel-body">
                    {{template.desc}}
                </div>
                <div class="panel-footer">
                    <a ng-href="#/dashboard/blank/{{template.type}}">확인하기</a>
                </div>
            </div>
             <div class="panel panel-blue" ng-if = "template.type=='TRANSFER'">
                <div class="panel-heading">
                    {{template.type}}
                </div>
                <div class="panel-body">
                    {{template.desc}}
                </div>
                <div class="panel-footer">
                    <a ng-href="#/dashboard/blank/{{template.type}}">확인하기</a>
                </div>
            </div>
            
        </div>
        
    </div>




<!-- 
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
            <div class="panel panel-info col-md-6 ng-isolate-scope">
                    <div class="panel-heading">
                        
                    </div>
                    <div class="panel-body">
                        진행되는 설문지를 미리 확인해볼 수 있습니다.
                    </div>
                    <div class="panel-footer">
                        <a href="">view detail</a>
                    </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="line-chart" ng-controller="ChartCtrl">
            <div class="panel panel-primary  col-md-6 ng-isolate-scope">
                    <div class="panel-heading">
                        
                    </div>
                    <div class="panel-body">
                        
                    </div>
                    
            </div>
        </div>
    </div>
 -->

    <!-- /.row -->
    <!-- <div class="row">
        <stats number="1" comments="설문지 확인!" colour="primary" type="comments"></stats>
        <stats number="12" comments="응답내역 보기!" colour="primary" type="user"></stats>
        <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>
    </div> -->

    
    <!-- /.panel -->
    <!-- <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div> -->
                <!-- /.panel-heading -->
                <!-- <timeline></timeline> -->
                <!-- /.panel-body -->
            <!-- </div> -->
            <!-- /.panel -->
        <!-- </div> -->
        <!-- /.col-lg-8 -->
        <!-- <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div> -->
                <!-- /.panel-heading -->
                <!-- <notifications></notifications>  -->
                <!-- /.panel-body -->
            <!-- </div> -->
            <!-- /.panel -->

            <!-- <chat></chat> -->
             <!-- /.panel .chat-panel -->
        <!-- </div> -->
        <!-- /.col-lg-4 -->
    <!-- </div -->
    <!-- /.row -->
</div>
